<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="busy, calendars, school">
    <meta name="description" content="When it's all happening">
    <title>Cal Wiz 1 - Colonial Cal</title>
    
    <link rel="stylesheet" media="all" href="css/normalize.css">
	<link rel="stylesheet" media="all" href="css/style.css">

</head>

<body>
    <!-- BEGIN #container -->
    <div id="container">
        
    		<!-- BEGIN #header -->
            <header>
                <div id="logo">

                </div>
                <h1>CougarCal.com</h1>
            

    			<!-- BEGIN #mainMenu -->
                <nav>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Create a Calendar</a></li>
                        <li><a href="options.html">Home</a></li>
                    </ul>
                </nav>            
                <!-- END #mainMenu -->  
            
    	
    		</header>
    		<div class="clear"></div>

        <!-- BEGIN .content -->
        <div class="content">	
            <!-- BEGIN #cal_wiz_title -->
            <div class="cal_wizard_title">
                <h2> Calendar Wizard </h2>
            

            <!-- BEGIN #cal_wiz_steps -->
                <div id="cal_wiz_steps">
                    <div class="step current_step">
                        <h4> Step 1: Name your group </h4>
                    </div>
                    <img src="images/arrow_right.png" alt="right arrow" height="100"/>
                    <div class="step">
                        <h4> Step 2: Select calendar event dates </h4>
                    </div>
                    <img src="images/arrow_right.png" alt="right arrow" height="100"/>
               
                    <div class="step">
                        <h4> Step 3: Enter calendar event details </h4>
                    </div>
                </div><!-- END #cal_wiz_steps -->
            </div><!-- END #cal_wiz_title -->


            <div class="clear"></div>

            <!-- BEGIN #group_info_form -->
            <div id="group_info_form">

                   <form method="post" action="index.php">


                    <label>Group Name</label>
                    <input name="groupName" placeholder="Type Here">

                    <label>Group Owner</label>
                    <input name="groupOwner" placeholder="Type Here">


                    <label>Website Link(if desired)</label>
                    <input name="webUrl" type="URL" placeholder="Type Here">

            <input id="submit" name="submit" type="submit" value="SUBMIT">

        </form>
      

            
            </div><!-- END #group_info_form -->
        </div><!-- END .content -->
    </div><!-- END #container -->

    <!-- BEGIN #footer -->
    <footer> 
            <div class="clear"></div>
            
            <div id="copyright">
                 &copy; Copyright 2013 CougarCal.
            </div>
                            
            <div id="companybottom">
                Theme brought to you by <a href="#">SchoolCals!</a>
            </div>
               	
    </footer>

</body>
</html>